body{
    background-image: url('https://cdn141.picsart.com/278359967011201.jpg?type=webp&to=min&r=640');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
}

/* .navbar{
    background-color: blueviolet;
} */
/* .collapse{
    border-color:white;
    background-color: white;
} */

/* .navbar-nav{
    color: white;
} */
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

    
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */


.name{
    width:"700px";
    color:white;
    font-weight: bold;
    font-size: xx-large;
    background-color: blueviolet;
}
.navbar-toggler{
    align-content: left;
}
.collapse a{
    color:white;
}


div{
    color: white;
}